#container {
    display: flex !important;
    justify-content: center !important; /* Centre horizontalement */
    align-items: center !important; /* Centre verticalement */
 
}

.form {
    width: 100% !important;
    max-width: 600px !important; /* Limite la largeur maximale du formulaire */
}
