#container {
    display: flex !important;
    justify-content: center !important; /* Centre horizontalement */
    align-items: center !important; /* Centre verticalement */
 
}

.form {
    width: 100% !important;
    max-width: 600px !important; /* Limite la largeur maximale du formulaire */
}

h6{
    font-size: 13px;
    font-style: italic;
    font-weight: 100 !important;
}